.DS_Store
/node_modules/*
!.gitkeep

# Allow example folder inside node_modules
!node_modules/suffix-node-modules/

# React Router
/.react-router/
/build/

# yarn - not using Zero-Installs - https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions